.cardWrapper {
    flex-wrap: unset;
    height: 36vw;//410px;
    width: 36vw;//438px;
    border-radius: 1.8518vw;//20px;
    background-color: var(--white);
    margin: 1.8518vw 1.8518vw 0 0;//20px;
}

.title{
    margin-top: 1.1111vw;//12px;
    font-size: 10vw;//130px;
    line-height: 1;
    color: var(--aquamarine);
}

.insoleImage{
    margin: 0 0 4px;
    width: 22vw;
}

.description{
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 2.5vw;//24px;
    color: var(--lightBlack);
}
