.button {
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
};

.fullSize {
    color: unset;
    background-color: unset;
}

.bigButtonSize {

};

.smallButtonSize {

};
