.h2 {
    font-size: 8.1481vw;//88px;
    font-weight: 900;
    line-height: 20.3703vw;//220px;
}

.h3 {
    margin: 3vw 0;//80px 0 80px;
    font-size: 5.5555vw;//60px;
    height: 16.2962vw;//176px;
    text-transform: uppercase;
}

.numerationWrapper {
    margin-top: 1vw;//40px;
}

.spot {
    width: 25vw
}